html, body { 
     min-height: 100vh;
     
}
body{ 
     background-image: url("$lib/images/pain.svg");
     background-size: cover;
     background-repeat: no-repeat;
     margin: 0;
     max-width: 100%;
     font-family: "Parkinsans", sans-serif;
}

h1, h2{ 
     text-align: center;
     font-weight: bold;
     font-family: "Mali", cursive;
}
h1 { 
     font-size: 50px;
}
ul { 
     
     list-style: none;
}
 
 
li{ 
     border-style:solid;
     border-color: #ffffff;
     padding: 1em;
     background-color: #fea6ce;  /* rgb(255, 223, 109);  #F5C85E, #D3ADE1,#99E0D9,#E18AB1*/
     border-radius: .5em;   
     color: #29020d;
     font-size: 17px;
     font-weight:500;
     display: flex;
     align-items: center;
}

